* {
  box-sizing: border-box;
}

.right {
  width: 20%;
  border: 1px solid black;
  float: right;
  margin-left: 50%;
  background-color: palevioletred;
  overflow: scroll;
}
.bu {
  overflow: scroll;
}
